<ion-view view-title="Principal">
    <ion-content>
      <ion-header-bar class="bar header bar-calm" style="font-style: italic;" align-title="left">
        <h1 class="title" id="headertitle">Bem Vindo(a) {{usuarioLogado.nome}}!</h1>
            <div class="buttons">
                <button class="button button-icon icon ion-navicon" ng-click="popover.show($event)"></button>
            </div>
            <!--<button class="button button-positive" ui-sref='app.login' ng-click="doLogout()">Sair</button>-->
      </ion-header-bar>
        <div>
            <center>
                <img class="full-image" src="img/blank.png">
                <img class="full-image" src="img/meleva.png">
            </center>
        </div>
        <div>
            <div><a class="button ion-android-walk button-full button-positive" ui-sref='app.pedircarona'>  Pedir Carona</a></div>
            <div><a class="button ion-model-s button-full button-positive"  ui-sref='app.oferecercarona'>  Oferecer Carona</a></div>
            <div><a class="button ion-clipboard button-full button-positive" ui-sref='app.historicocarona' >  Histórico de Caronas </a></div>
        </div>
        </ion-content>
</ion-view>
