/* Empty. Add your own CSS if you like */
input:focus{
    border-color: red;
    border-width: 3px;
}

.divlogin{
    background : cornflowerblue;  
    align-content: center;  
}

.logo{
    width: 400px;
    height: 400px;
}

#headertitle{
    font-size: 20px;
}

.error{
    color: red;
    font-weight: bold;
}

.divlistaDireita{
    float: right;    
}
.divlista{
    display: inline;
    max-width: 75%;
}
.item{
    font-size: 14px;
}
#cronometroStyle{    
	font-size: 60px;	
    color: cornflowerblue;      
}